<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-10  col-md-10 col-lg-10 justify-content-start">
          <div >
            <img class="img-header" src="../../../../assets/images/logo.png" alt="Veracruz Gobierno del Estado">
          </div>
        </div>
        <div class="col-sm-2  col-md-2 col-lg-2 justify-content-end">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--<div class="menu" *ngIf="userIsLoggedIn()">-->
<div class="menu">
  <div class="row">
    <div class="pill" routerLink="/home">INICIO</div>
    <div class="pill" routerLink="/admin">DEMO CRUD SPRING</div>
    <div class="pill" >DEMO LOGIN</div>
    <div class="pill" routerLink="/location">DEMO OpenStreetMaps</div>
  </div>
</div>
