<div class="container" style="background-color: white">
  <div class="row justify-content-center">
      <div class="col-auto">
        <div class="space"></div>
        <h2 class="ocre">Iniciar sesión</h2>
        <div class="space"></div>
      </div>
  </div>

  <div class="row justify-content-center">

      <div class="col-sm-6 col-md-6 col-lg-6">

        <!--<mat-form-field [formGroup]="form">-->
          <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->

            <!--<div class="row justify-content-center align-items-center">-->
              <!--<div class="col-xs-auto col-sm-auto col-md-3 col-lg-2">-->
                <!--<mat-label>Usuario:</mat-label>-->
              <!--</div>-->
              <!--<div class="col-xs-auto col-sm-auto col-md-6 col-lg-6">-->
                <!--<input matInput type="text" formControlName="username" placeholder="Usuario">-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="space"></div>-->

          <!--<div class="row justify-content-center align-items-center">-->
            <!--<div class="col-xs-auto col-sm-auto col-md-3 col-lg-2">-->
                <!--<mat-label>Contraseña:</mat-label>-->
              <!--</div>-->
            <!--<div class="col-xs-auto col-sm-auto col-md-6 col-lg-6">-->
                <!--<input matInput type="password" formControlName="password" placeholder="Contraseña">-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="space"></div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</mat-form-field>-->
        <mat-form-field>
          <mat-label>Usuario:</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Usuario:</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button mat-button color="ssa-accent">Ingresar</button>
    </div>
  </div>
  <div class="space"></div>

</div>
