  <div class="row justify-content-center" style="background-color: white; padding: 1em;">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-12">
          <h2 class="ocre">{{ clickedLocation ? 'Localización elegida': 'Haga doble click un punto en el mapa'}}</h2>
        </div>
        <div class="col-auto">
          <mat-chip-list aria-label="Acciones del mapa" selectable="false">
            <mat-chip
              [disabled]="!clickedLocation"
              (click)="toClipboard(true)">
                <mat-icon>content_copy</mat-icon>Copiar Coordenadas
            </mat-chip>
            <mat-chip
              [disabled]="!clickedLocation"
              (click)="toClipboard(false)">
                <mat-icon>content_copy</mat-icon>Copiar URL
            </mat-chip>
            <mat-chip *ngIf="clickedLocation"
              matTooltip="Abrir google maps"
              matTooltipPosition="above"
              color="ssa-accent"
              (click)="openTab()">
                <mat-icon>open_in_new</mat-icon>{{clickedLocation}}
            </mat-chip>
          </mat-chip-list>

        </div>
        <!--<div class="col-auto" *ngIf="clickedLocation">-->
          <!--<div class="row" (click)="openTab()">-->
            <!--<mat-icon>open_in_new</mat-icon>-->
            <!--<h3 class="ocre"-->
                <!--style="cursor: pointer; text-decoration: underline"-->
                <!--matTooltip="Abrir en nueva ventana"-->
                <!--matTooltipPosition="above">-->
                  <!--{{clickedLocation}}-->
            <!--</h3>-->
          <!--</div>-->
        <!--</div>-->
    </div>
      <div class="halfspace"></div>

    <div id="map" class="map" (dblclick)="catchCoordinates($event)"></div>
  </div>
